
.weather {
    place-self: center;
    padding: 40px;
    border-radius: 10px;
    background-color: #11A4A3;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 75%;
    border: 2px solid white;
    width: 90%;
    max-width: 450px;      
}


.search-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.search-bar input {
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    padding-left: 25px;
    color: #626262;
    background-color: #ebfffc;
    font-size: 18px;
    flex: 1;
}

.search-bar img {
    width: 60px;
    padding: 15px;
    border-radius: 40%;
    background-color: white;
    cursor: pointer;
}



.weather-icon {
    width: 150px;
    margin: 30px;
}



.temperature {
    color: white;
    font-size: 80px;
    line-height: 1;
}

.location {
    color: white;
    font-size: 40px;
}


.weather-data {
    width: 100%;
    margin-top: 40px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.weather-data .col {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    font-size: 22px;
}

.weather-data .col span {
    display: block;
    font-size: 16px;
}

.weather-data .col img {
    width: 26px;
    margin: 10px;
}





@media (max-width: 768px) {

    .temperature {
        font-size: 60px;
    }

    .location {
        font-size: 30px;
    }

    .weather-data {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }

    .weather-data .col {
        justify-content: center;
        font-size: 20px;
    }
}

